<footer class="footer">
  <!-- This should be `0 items left` by default -->
  <span class="todo-count"
    ><strong>{{ pendingTodos }}</strong> item left</span
  >
  <!-- Remove this if you don't implement routing -->
  <ul class="filters">
    <li *ngFor="let filter of filters">
      <a
        [class.selected]="filter === actualFilter"
        href="#/"
        (click)="changeFilter(filter)"
        >{{ filter | titlecase }}</a
      >
    </li>
    <!--
    <li>
      <a class="selected" href="#/">All</a>
    </li>
    <li>
      <a href="#/active">Active</a>
    </li>
    <li>
      <a href="#/completed">Completed</a>
    </li> -->
  </ul>
  <!-- Hidden if no completed items are left ↓ -->
  <button class="clear-completed" (click)="cleanCompletedTodos()">
    Clear completed
  </button>
</footer>
